!!!

%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css'}
-# %link{:rel => 'stylesheet', :type => 'text/css', :href => 'tablesorter.style.css'}

%script{src: "http://code.jquery.com/jquery-1.10.2.min.js", type:"text/javascript"}
-# %script{src: "jquery-1.10.2.min.js", type:"text/javascript"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", type:"text/javascript"}
-# %script{src: "/jquery.tablesorter.min.js", type:"text/javascript"}


.header
  %p
    Ref Development Site - 
    %a{href: '/'}
      home
  %p
    Hello, #{logged_in? ? session[:user]['firstName'] : 'user'} #{logged_in? ? "(#{session[:user]['username']})" : ''}

  %p
    - if logged_in?
      %a{href: '/logout'}
        Logout
    - else
      %a{href: '/login'}<
        Login
      or
      %a{href: '/create'}
        Create Account
