=haml :_header

%h1
  Create
-# #{flash[:issue]}
.issue
  =flash[:issue]

%p
  Verify that all of this information is correct- it'll be used in our master ref database. All information will be publicly available for purposes of contacting you. 

.form_box
  %form{name: "create", action: "create", method: "post", onsubmit: "return validate();"}
    %label{for: "Email"}
      Email
    %input{type: "email", name: "username", placeholder:"email"}

    %label{for: "Password"}
      Password
    %input{type: "password", name: "pw", placeholder: "password"}

    %label{for: "Confirm Password"}
      Confirm
    %input{type: "password", name: "pw2", placeholder: "confirmed password"}

    %label{for: "team"}
      Associated Team (or none)
    %input{type: "text", name: "team", placeholder: "team", id: "team"}

    %input.button{type: "submit", value: "Create User"}

:javascript
  var teams = #{@team_list};
  teams.push("none");
  $('#team').autocomplete({source: teams});
  function validate() {
    // NEED TO ADD ALL FUTURE FORM ENTRIES TO THIS
    var f = $("form")[0];
    var filled = true;

    var e = f["email"].value;
    var p = f["pw"].value;
    var p2 = f["pw2"].value;
    var t = f["team"].value;

    var fields = [e, p, p2, t];

    fields.forEach(function(field){
      if (field == null || field == "") {
        filled = false;
      }
    });

    if (!filled) {
      $(".issue").text("All fields are required");
      return false;
    }

    else if (!(f["pw"].value == f["pw2"].value)) {
      $(".issue").text("Passwords don't match");
      return false;
    }

    else {
      return true;
    }    

  }