!!!
%head
  -# %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %title
    #{@title}
  -# css
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/jvectormap.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/theme.default.css'}

  %link{:rel => 'stylesheet', :type => 'text/css', :href => '//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'}

  -# js
  %script{src: "//code.jquery.com/jquery-1.10.2.min.js", type:"text/javascript"}
  %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", type:"text/javascript"}

  %script{src: "/js/tablesorter.min.js", type:"text/javascript"}
  %script{src: "/js/tablesorter.widgets.min.js", type:"text/javascript"}

  %script{src: "/js/jvectormap.js", type:"text/javascript"}
  %script{src: "/js/world-map.js", type:"text/javascript"}

  -# favicon
  %link{:rel => 'icon', :type => 'image/png', :href => '/images/favicon.png'}