=haml :_header

%h1
  RDT

%p
  This is the site for the RDT. It'll have stuff one day.

-# %p
-#   - if logged_in?
-#     %a{href: '/logout'}
-#       Logout
-#   - else
-#     %a{href: '/login'}
-#       Login

%p
  #{session[:user]}