%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error
  %h1
    Undergoing Maintenance!
  %h2
    Check our 
    %a{href: "http://twitter.com/refdevelopment"}<
      Twitter
    for more information.