%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error
  %h1
    #{@text['under']}
  %h2
    #{@text['check']}
    %a{href: "http://twitter.com/refdevelopment"}<
      Twitter
    #{@text['info']}.