%meta{name: "viewport", content: "width=device-width"}
%h1{style: "text-align: center; font-family: monospace"}
  Review me at refdevelopment.com!
%img{src: "#{@review_qr}", style: "margin-left: auto; margin-right: auto; display: block;"}