* {
    font-family: monospace, sans-serif;
}

ul {
    list-style-type: none;
}

.header {
    float: right;
    padding-right: 20px;
    text-align: right;
}

.ans {
    display: inline;
}

a:visited {
    color: blue;
}

body {
    padding-left: 30px;
}