// Refbook CSS

$footer-height: 36px;
$slide-left: 30px;
@import url("http://fonts.googleapis.com/css?family=Exo+2:400,700&subset=latin,latin-ext");

* {
    font-family: 'Exo 2', 'sans-serif';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;

    a:visited {
        color: blue;
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    .error {
        width: 60%;
        margin: 0 auto;
        h1, h2 {
            text-align: center; 
            padding-top: 50px;
        }
    }
}

.content {
    min-height: 100%;
    position: relative;
}

.top {
    // the big black bar
    // padding: 10px;
    .topbar {
        height: 50px;
        color: #fff;
        background-color: #000;
        clear: both;
        // margin-left: -30px;
        a {
            color: #fff;
        }

        ul {
            padding-top: 17px;
            margin-left: -1.5em;
            li {
                display: inline-block;
            }
            .right {
                float: right;
                padding-right: 10px;
            }
        }
    }
    // login/logout text
    .header {
        float: right;
        padding-right: 20px;
        text-align: right;
    }
}

.mid {
    padding-bottom: $footer-height;
    padding-left: $slide-left;

    h1, h2 {
        font-family: 'Flagship', monospace, serif;
    }
    h1 {font-size: 48px;}
    h2 {font-size: 36px;}

    p {
        width: 60%;
        padding-left: 30px;
    }

    .form_box {
        padding-left: 30px;
        padding-right: 30px;
        // thought I might like these, I don't. 
        // border-left: 1px solid black;
        // border-right: 1px solid black;
        width: 250px;
        clear: both;

        input {
            width: 100%;
            clear: both;
            margin-bottom: 20px;
        }

        select {
            width: 100%;
            clear: both;
            margin-bottom: 20px;
        }
    }

    .name {
        color: red;
        text-decoration: underline;
    }

    .rating {
        text-decoration: underline;
    }

    .issue {
        // padding-top: 30px;
        color: red;
        height: 20px;
    }

    #theTable {
        td {
            padding-left: 10px;
            padding-right: 20px;
        }
        thead {
            // border-bottom: 1px solid #000;
            background: black;
            color: white;
        }
        tbody {
            .odd {
                // background: #bcbcbc;
                background: lightgrey;
            }
            .even {
                // background: #808080;
            }
            .name {
                // go blue, baby
                color: purple;
                text-decoration: none;
            }
            .mine {
                background-color: #00274c;
                color: #ffcb05;
            }
            .y {
                background-color: #50e000;
            }
            .n {
                background-color: #ff2100;
            }
        }
    }

    .skinny {
        width: 60%;
    }

    #prof_pic {
        float: right;
        margin-right: 120px;
        border: 1px solid #000;
    }
}


.bot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background: black;
    color: white;

    p {
        // padding-left: $slide-left;
        padding-left: 10px;
        // margin-left: -2em;
        font-size: 12px;
    }

    a {
        color: #fff;
        &:visited {
            color: #fff;
        }
    }

}










