%ul.line
  %li
    .key#developing
  %li
    Developing
  %li
    .key#established
  %li
    Established
  %li

#world-map

:coffeescript
  $ ->
    $('#world-map').vectorMap
      map: 'world_mill_en'
      series: 
        regions: [
          values: 
            # established
            CA:'#9FC5E8',
            IT:'#9FC5E8',
            AU:'#9FC5E8',
            GB:'#9FC5E8',

            # developing
            NO:'#FF9900',
            BE:'#FF9900',
            NL:'#FF9900'
        ]