%ul.line
  %li
    .key#developing
  %li
    Developing
  %li
    .key#established
  %li
    Established
  %li

#world-map

:coffeescript
  $ ->
    vals = {}

    est = ["CA", "IT", "AU", "GB"]
    dev = ["NO", "BE", "NL", "PL"]
    
    est_col = '#ffcb05'
    dev_col = '#cc6600'
    
    (vals[i] = est_col for i in est)
    (vals[j] = dev_col for j in dev)

    $('#world-map').vectorMap
      map: 'world_mill_en'
      backgroundColor: '#00274c'
      zoomAnimate: true
      series: 
        regions: [
          {values: vals}
        ]
      
