=haml :_header

%h1
  Search

.issue
  =flash[:issue]

%h2
  #{@region_title}

%table#theTable
  %thead
    %tr
      %td
        First Name
      %td
        Last Name
      %td
        Team
      %td
        Email
      - if params[:region] == 'ALL'
        %td
          Region
  %tbody

:javascript
  var refs = #{@refs};
  var odd = false;
  $("#theTable tbody").empty();
  for (var i = 0; i < refs.length; i++) {
    var r = ["<tr class=\"", (odd) ? "odd" : "even","\">",
      "<td>",refs[i][0],"</td>",
      "<td>",refs[i][1],"</td>",
      "<td>",refs[i][2],"</td>",
      "<td><a href=\"mailto:",refs[i][3],"\">",refs[i][3],"</a></td>",
      ].join(' ');
      if (#{params[:region] == 'ALL'}) {
        r += ["<td>",refs[i][4],"</td>"].join(' ');
      };
      r += "</tr>";
    odd = !odd;  
    $("#theTable tbody").append(r);
  };

