%p
  You can update your email (with which teams will contact you) here. If you need to change your region/team affiliation, contact
  %a{href: "mailto: brownman@umich.edu"}<
    David Brownman
  with all necessary information.

.form_box
  %form{name: "settings", action: "settings", method: "post"}
    %label{for: "email"}
      Email
    %input{type: "email", name: "username", placeholder:"email", id: "email"}

    %label{for: "lang"}
      Language
    %select{name: "lang", id: "lang"}
      / these langauges are hardcoded, so update when you add a new lang
      %option{value: "EN"}
        English
      %option{value: "FR"}
        Français


    %input.button{type: "submit", value: "Update User"}

%p
  %a{href: '/reset'}<
    Reset
  your password.

-# %p
  -# a form that edits re-saves some columns in the user object (name, region, team, email, etc)?
:javascript

  $('#email').val("#{session[:user]['username']}");
  $('#lang').val("#{session[:user]['lang']}");

