%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error

  %h1
    Vous avez trouvé quelque chose qui n'existe pas!
    %br
    {HTTP 404}
  %h2
    Vous êtes le meilleur détective de l'histoire mondiale...ou peut-être le plus mauvais.
    %br
    %br
    Si vous êtes le premier de trouver cet hyperlien cassé, vous avez gagné un biscuit!
    %a{href: 'mailto: david@relateiq.com'}<
      Envoyez un email au webmaster 
    pour recevoir votre prix. 
    %br
    %br
    Après ça, retournez
    %a{href: '/'}<
      à la page d'acceuil
    pour continuer avec vos affaires.
