%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error

  %h1
    Something went wrong! 
    %br
    {HTTP 500}
  %h2
    %a{href: '/logout'}<
      Logging out
    may solve the issue. 
    %br
    %br
    If not, 
    %a{href: "mailto: david@relateiq.com"}<
      email the administrator
    and he'll sort it out. 