%p
  La nouvelle organisation Programme Internationale pour Developper des Arbitres (PIDA, ou en anglais, International Referee Development Program, ou IRDP) était créée pour améliorer constamment la qualité de l'arbitrage de quidditch.  Grâce à des tests en ligne et en personne, et l'évaluation et réévaluation constante, PIDA est capable de fournir des meilleurs arbitres disponibles pour toutes les ligues du monde.  Ce programme reconnaît l'importance d'arbitrage pour le développement du sport et souhait à continuer la croissance d'arbitrage à tous les niveaux.  Cette nouvelle organisation utilise les mêmes cinq idéaux actuellement employés pendant nos tests pour notre modèle d'affaires:

%p
  %b
    Confiance. 
  Affichant la fiducie et la foi aux arbitres que nous embauchons et aux méthods utilisées, le PIDA construit un réseau de soutien solide pour tous ceux qui vont obtenir la certification.  La confiance est essentielle pour tous les arbitres réussis, et notre foi en ceux qui sont certifiés par nous bâtit la foi qu'ils ont en eux-mêmes.
%p
  %b
    Consistance.
  Suivant les tests et rubriques reproductibles, le PIDA s'efforce de définir clairement ce qui est attendu de ceux qui souhaitent devenir certifiés par les méthods du PIDA.  Fort de notre expérience collective, ceci nous permet d'offrir un produit conforme à ceux qui s'intéresse à nos services.
%p
  %b
    Communication. 
  Utilisant un système d'évaluation constante et offrant aux joueurs et aux entraîneurs la possibilité d'examiner les performances d'arbitrage, le PIDA peut donner des commentaires constructifs aux arbitres pour améliorer continuellement la qualité.  Cela garantit que les arbitres peuvent améliorer leur art à chaque tour.
%p
  %b
    Professionnalisme. 
  Traitant tout le monde avec la même manière respectable, indépendamment de l'expérience ou de la situation, le PIDA mis la barre pour les interactions interpersonnelles.  Ceci assure que ceux qui sont impliqués dans le PIDA vont agir d'une manière digne d'un représentant de l'organisation.  
%p
  %b
    Positionnement.
  Etablissement rapidement et efficacement les membres dans les régions où la infrastructure a besoin d'être construit ou renforcé, le PIDA bâtit une présence géographique très répandue, ce qui s'assure que la qualité d'arbitrage est d'un niveau similaire dans le monde entier.  Avec les membres déjà établies sur trois continents et les parties intéressées dans les autres pays, nous sommes dans une position idéale. 

  