%p
  The new International Referee Development Program was created for the purpose of constant improvement in the quality of quidditch refereeing. Through the usage of online and in-person tests, and constant evaluation and re-evaluation, the IRDP’s focus is to provide all leagues across the world with the highest quality of referees available. This program recognizes the importance of great referees in a growing sport, and aspires to continue the growth of referees at all levels. This new organization utilizes the same five tenants that are currently employed in our field tests for head referees as a structure for our business model:

%p
  %b
    Confidence. 
  By displaying trust and faith in the referees that we hire and the methods utilized, the IRDP builds a strong support system for any who have become certified under the IRDP. Confidence is essential for all successful referees, and our faith in those that are certified builds the faith they have in themselves.
%p
  %b
    Consistency.
  By following replicable tests and rubrics, the IRDP works to clearly define what is expected of those who wish to become certified through the IRDP’s methods. Bolstered by our collective experience, this allows us to offer a consistent product to those interested in our services. 
%p
  %b
    Communication. 
  By utilizing a system of constant evaluation from IRDP members and offering players and coaches the ability to review referees’ performances, the IRDP can provide constructive feedback to continually improve quality. This ensures that referees can improve their craft at every turn. 
%p
  %b
    Professionalism. 
  By treating everyone we interact with in a respectable manner, regardless of experience or situation, the members of the IRDP set the bar for interpersonal interactions. This ensures that those who are involved with IRDP will act in a manner befitting of a representative of the organization.
%p
  %b
    Positioning.
  By quickly and efficiently establishing members in areas where infrastructure needs to be built or bolstered, the IRDP has widespread geographic presence, which is extremely important in making sure that quality is of a similar level worldwide. With members already located on three continents and interested parties in other countries, we are in a perfect position to both monitor current referees and certify new ones in new areas.