/1
%p
  %strong
    Q:
  %i
    Pourquoi avoir abandonné l’ancien système de la RDT? 
  %br
  %strong
    R:
  Avec la séparation de l’IQA en ligues nationales, la RDT serait resté attachée à une organisation nationale, nommément USQ. En conséquence de quoi, les nouvelles ligues n’auraient pas eu accès à l’expérience collective, ce qui, aux yeux de le PIDA, aurait ralentit l’expansion du sport. Pour cette raison, nous estimons que travailler en tant qu’organisation indépendante ayant pour seul but d’améliorer la qualité des arbitres au niveau mondial sera plus bénéfique au sport et à la communauté dans son entier.
/2
%p
  %strong
    Q: 
  %i
    Qu’est-ce que cela change pour moi ? 
  %br
  %strong
    R:
  Pour les membres de ligues ayant établit un contrat avec le PIDA, le changement sera minimal. Ce site est un exemple des évolutions que vous pouvez attendre : une approche plus simple, efficace et épurée en matière de diffusion de l’information à destination de ceux qui s’intéressent à nos services. Toute personne impliquée dans une ligue travaillant avec le PIDA et nos ressources est en droit d’attendre le même service que celui offert par l’IQA RDT. 
/3
%p
  %strong
    Q:
  %i
    Ma ligue ne vous emploie pas; puis-je malgré tout devenir un arbitre certifié par le PIDA ?
  %br
  %strong
    R:
  Oui et nous vous encourageons à le faire. Sachez cependant que, si votre ligue ne nous emploie pas, votre certificat d’arbitrage délivré par le PIDA n’aura aucun impact sur les obligations envers celle-ci. Si vous souhaitez devenir un arbitre certifié par le PIDA, sachez qu’une participation financière fera partie du processus. 
/4
%p
  %strong
    Q:
  %i
    Recrutez-vous? 
  %br
  %strong
    R:
  Oui ! le PIDA est en recherche permanente de nouveaux membres qui souhaitent améliorer la qualité de l’arbitrage. Actuellement, nous cherchons à recruter de nouveaux membres pour la Referee Development Team ainsi que des Referee Training Coordinators pour toutes les ligues avec lesquelles nous travaillons. Ci-dessous une description des deux composantes majeures de le PIDA: 
  %ul.bullets
    %li
      %p
        %strong
          Referee Development Team :
        cette équipe crée les tests et le matériel d’entraînement destiné à maintenir les standards de chaque ligue ayant un contrat avec le PIDA. 
    %li
      %p
        %strong
          Referee Training Coordinators :
        Ces membres ont été remarqués pour la haute qualité de leur arbitrage et pour les critiques constructives qu’ils offrent à leurs collègues. Leur tâche est d’entraîner et de certifier les nouveaux arbitres afin d’en faire de meilleur représentants de le PIDA. 
  %p
    Si vous pensez être un bon candidat pour l’une ou l’autre des positions décrites ci-dessus, envoyez un CV et une courte lettre de motivation à #{email_link({subject: "Demande d'Emploi"})} et nous vous contacterons aussi vite que possible. 
/5
%p
  %strong
    Q:
  %i
    J’aimerais établir un contrat entre IRDP et la ligue dont je suis responsable, comment faire ? 
  %br
  %strong
    R:
  Contactez-nous ici ! le PIDA propose des examens pratiques et organisera des ateliers avec votre ligue afin de lancer la machine, en plus d’offrir un soutien continu après les premières formations.
/6
%p
  %strong
    Q:
  %i
    Comment seront utilisés mes frais d’inscription ? 
  %br
  %strong
    R:
  Bien qu’un grand nombre de candidats paraissent excellent à l’écrit, un aspect essentiel de l’arbitrage est la maîtrise sur le terrain. Afin de garantir la qualité des arbitres une fois mis en situation, nous couvrons les frais de déplacement de nos examinateurs de par le monde pour nous assurer que seuls les arbitres les plus talentueux soient certifiés. De plus, vos frais financent notre site et notre système d’examen en ligne (classmarker). le PIDA ne fait aucun profit et l’intégralité de votre argent est utilisé afin d’améliorer votre expérience d’arbitre. Plus d’informations à ce sujet sur notre
  %a{href: '/pay'}<
    page de paiement.
/7
%p
  %strong
    Q:
  %i
    Quelles ligues ont établit un contrat avec le PIDA ? 
  %br
  %strong
    R:
  À la date du #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'IRDP+Contracts+Updated')}
  le PIDA a un accord contractuel définitif avec l’Australian Quidditch Association. Cet accord peut être lu de  
  %a{href: 'https://docs.google.com/document/d/1jHE29t7dzAUuJvKAH4win9cuDAIgHg8uk6kwWyNHcO4/edit', target: '_blank'}<
    manière publique. 
  %br
  %br
  Restez attentif aux futurs annonces quant aux résultats de nos négociations avec de nombreuses autres ligues !
%p
  Les membres de ces ligues reçoivent un accès à tout le matériel de formation fournit par le PIDA gratuitement ! 
/8
%p
  %strong
    Q:
  %i
    À l’aide ! J’ai payé mais je ne parviens pas à accéder au site ! 
  %br
  %strong
    R:
  N’ayez crainte ! Il arrive que des informations se perdent. Si votre transaction paypal a été confirmée (vous avez vu la page « paiement confirmé » et/ou reçu l’email de confirmation), vous recevrez l’accès au site, pas de panique. Tentez d’abord de vous 
  %a{href: '/logout'}<
    déconnecter
  avant de vous reconnecter. Si cela ne résout pas votre problème, envoyez un email au
  %a{href: 'mailto:david@relateiq.com'}<
    webmaster
  et il se penchera sur votre cas dans les douze heures. 
/9
%p
  %strong
    Q:
  %i
    En quoi consiste le contenu offert gratuitement sur votre site ?
  %br
  %strong
    R:
  Pour tout arbitre attaché à une ligue ayant établit un contrat avec le PIDA, tout le contenu est gratuit et l’examen d’arbitre principal est offert pour un coût modeste. Pour tout arbitre attaché à une ligue n’ayant pas de contrat avec le PIDA,  les contenus concernant les arbitres de buts et l’arbitre de marquoir sont disponibles gratuitement, le tout accompagné d’un aperçu de nos cinq guides ‘piliers’. Ces arbitres peuvent se procurer un accès à notre matériel de formation pour les arbitres assistants, arbitres de vif et arbitres principaux au prix de 5$ ; l’examen d’arbitre principal leur sera proposé au prix de 20$. 

/10
%p
  %strong
    Q:
  %i
    En quoi le système de testes diffère-t-il de celui des saisons précédentes avec l’IQA ? 
  %br
  %strong
    R:
  le PIDA a complètement revu la structure interne des examens écrits. Le nouveau système teste les candidats de manière plus efficace sur leur connaissance de règles spécifiques, selon un format de question plus facile à comprendre. De plus, l’examen pratique a été épuré et voit l’ajout d’une sixième section destinée à évaluer la capacité du candidat à prendre la bonne décision en cours de jeu. Le tout est offert via un site internet pratique et automatisé (que vous consultez actuellement). 
