%p
  Le Programme International pour Developper des Arbitres est une organisation formée pour le but de la certification des arbitres cohérents et compétants à travers le monde.

%p
  Ici, vous pouvez y trouver des ressources pour préparer vous-même aux tests d'arbitrage, les tests eux-mêmes, l'annuaire d'arbitre, critiques, et autre information.
%p
  Chaque fois vous voyez une heure, cliquez sur
  %a{href: "#"}<
    UTC
  pour voir dans votre heure locale.

%h2
  Dernières mises à jour (à partir de #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'Refdevelopment.com+Updated')}
  )
%p
  %a{href: "/release"}<
    Notre communiqué de presse
  a été publié le 5 mai 2014.
%h3
  Evénements à venir
.form_box.big
  .table-background
    %table
      %tr
        %td
          %i.fa.fa-check
        %td
          3 juillet 2014
        %td
          Release of the IRDP Confidence Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          5 juillet 2014
        %td
          Release of the IRDP Communication Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          7 juillet 2014
        %td
          Release of the IRDP Professionalism Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          9 juillet 2014
        %td
          Release of the IRDP Consistency Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          11 juillet 2014
        %td
          Release of the IRDP Health and Well-Being Guide
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          16 juillet 2014
        %td
          Release of the IRDP Referee Match Responsibilities Guide
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          21 juillet 2014
        %td
          Website goes live in French (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          1 août 2014
        %td
          Website goes live in Italian (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          août 2014
        %td
          Release of the Referee Training Coordinator training materials
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          septembre 2014
        %td
          Assistant and Snitch Referee Rating goes live
%h3
  Upcoming Site Outages
%p
  None planned!
  