%p
  Le Programme International pour Developper des Arbitres est une organisation formée pour le but de la certification des arbitres cohérents et compétants à travers le monde.

%p
  Ici, vous pouvez y trouver des ressources pour préparer vous-même aux tests d'arbitrage, les tests eux-mêmes, l'annuaire d'arbitre, critiques, et autre information.
%p
  Chaque fois vous voyez une heure, cliquez sur
  %a{href: "#"}<
    UTC
  pour voir dans votre heure locale.

%h2
  Dernières mises à jour (à partir de #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'Refdevelopment.com+Updated')}
  )
%p
  %a{href: "/release"}<
    Notre communiqué de presse
  a été publié le 5 mai 2014.
%h3
  Evénements à venir
.form_box.big
  .table-background
    %table
      %tr
        %td
          %i.fa.fa-check
        %td
          3 juillet 2014
        %td
          publication du Guide de Confiance
      %tr
        %td
          %i.fa.fa-check
        %td
          5 juillet 2014
        %td
          publication du Guide de Communication
      %tr
        %td
          %i.fa.fa-check
        %td
          7 juillet 2014
        %td
          publication du Guide de Professionnalisme
      %tr
        %td
          %i.fa.fa-check
        %td
          9 juillet 2014
        %td
          publication du Guide de Consistance
      %tr
        %td
          %i.fa.fa-check
        %td
          11 juillet 2014
        %td
          publication du Guide de Santé et bien-être
      %tr
        %td
          %i.fa.fa-check
        %td
          16 juillet 2014
        %td
          publication du Guide de Responsibilités d'Arbitre du Match
      %tr
        %td
          %i.fa.fa-check
        %td
          18 juillet 2014
        %td
          tous les tests pour Règles Version 8 disponibles
      %tr
        %td
          %i.fa.fa-check
        %td
          21 juillet 2014
        %td
          version beta du français (sauf les tests)
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          1 août 2014
        %td
          version beta d'italien (sauf les tests)
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          août 2014
        %td
          publication des documents de formation de coordinateur d'arbitre formation
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          septembre 2014
        %td
          évaluation d'arbitre de vif
%h3
  Interruptions du site prévus
%p
  Aucune !
  