.form_box
  %form{name: "reset", action: "/reset", method: "post"}
    %label{for: "Email"}
      Email
    %input{type: "email", name: "email", placeholder:"email"}

    %input.button{type: "submit", value: "Reset Password"}
