%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error

  %h1
    You've found something that doesn't exist (HTTP 404)! 
  %h2
    If you're the first to find this broken link, you've won a cookie!
    %a{href: 'mailto: brownman@umich.edu'}<
      Contact the admin
    to claim your prize! Afterwards, head
    %a{href: '/'}<
      home
    to continue on your way.