%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error

  %h1
    You've found something that doesn't exist! 
    %br
    {HTTP 404}
  %h2
    You're the greatest treasure hunter there ever was... or the worst. 
    %br
    %br
    If you're the first to find this broken link, you've won a cookie!
    %a{href: 'mailto: brownman@umich.edu'}<
      Contact the admin
    to claim your prize. 
    %br
    %br
    Afterwards, head
    %a{href: '/'}<
      home
    to continue with your business.