%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}

.error

  %h1
    Something went wrong (HTTP 500)!
  %h2
    %a{href: '/logout'}<
      Logging out
    may solve the issue. If not, 
    %a{href: "mailto: brownman@umich.edu"}<
      email the administrator
    and we'll work it out. 