%p
  Here are all reviews (viewable only if you're an admin). There'll be other info.

%p
  %a.more{href: "#"}
    Extra info

%p
  %a.less.mode{href: "#"}
    Less info

.table_box
  %table#theTable
    %thead
      %tr
        %td
          Submit Date
        %td
          Reviewer Name
        %td.small
          Reviewer Email
        %td.small
          Team Captain?
        %td
          Referee Region
        %td.light
          Referee Name
        %td.small
          Team
        %td.small
          Opponent
        %td
          Rating
        %td
          Comments
        %td{title: "Display to that referee?"}
          Display?
        %td
          Link
        
    %tbody

  
:javascript
  var reviews = #{@review_list};
  var odd = false;
  // $("#theTable tbody").empty();
  for (var i = 0; i < reviews.length; i++) {
    var r = [
      // "<tr class=\"",(odd) ? "odd" : "even","\">",
      "<tr>",
      "<td>",reviews[i][12],"</td>",
      "<td>",reviews[i][0],"</td>", //reviewer
      "<td class=\"small\"><a href=\"mailto:",reviews[i][1],"\">email</a></td>",
      "<td class=\"small",(reviews[i][2]) ? "y" : "n","\">",(reviews[i][2]) ? "Y" : "N","</td>", //captain?
      "<td>",reviews[i][3],"</td>", //region
      "<td class=\"name ", (reviews[i][11] == "#{session[:user]['objectId']}") ? "mine" : "ref-name",
      "\">",reviews[i][4],"</td>", //referee
      "<td class=\"small\">",reviews[i][5],"</td>", //team
      "<td class=\"small\">",reviews[i][6],"</td>", //opponent
      "<td>",reviews[i][7],"</td>", //rating
      "<td>",reviews[i][8],"</td>", //comments
      "<td class=\"",(reviews[i][9]) ? "y" : "n","\">",(reviews[i][9]) ? "Y" : "N","</td>", //show?
      "<td><a href=\"/reviews/"+reviews[i][10],"\">Edit</a></td>", //link


    ].join(' ');
    

    r += "</tr>";
    odd = !odd;
    $("#theTable tbody").append(r);
  };

  $('.small').hide();

  $('.more').click(function(){
    $('.less').removeClass('mode');
    $(this).addClass('mode');
    $('.small').show();
  });

  $('.less').click(function(){
    $('.more').removeClass('mode');
    $(this).addClass('mode');
    $('.small').hide();
  });

  $('#theTable').tablesorter({
    ignoreCase: true,
    widthFixed: false,
    widgets: ['stickyHeaders'],
    sortList: [[0,1]],
  });
