%p
  The best way to contact us is via our shared email address, 
  #{email_link}

%p
  You can also contact individual board members, such as
  %ul.bullets
    %li
      Director, 
      %a{href: "mailto:sequoiasthomas@gmail.com"}
        Sequoia Thomas
    %li
      Assistant Director,
      %a{href: "chrisstephenhp@gmail.com"}
        Chris Beesley
    %li
      Treasurer,
      %a{href: "mailto:lawrence.lazewski@gmail.com"}
        Lawrence Lazewski 
    %li
      Secretary,
      %a{href: "mailto:scott.behler.irdp@gmail.com"}
        Scott Behler
    %li
      Technical Director,
      %a{href: "mailto:david@relateiq.com"}
        David Brownman

-# %p
-#   Additionally, you may want to contact our national liasons, such as
-#   %ul.bullets
-#     %li
-#       %b
-#         USA:
-#       %a{href: "#"}<
-#         Scott Behler
-#       %img{src: "/images/flags/us.png"}
-#     %li
-#       %b
-#         Australia:
-#       %a{href: "#"}<
-#         Emma Morris
-#       %img{src: "/images/flags/au.png"}
-#     %li
-#       %b
-#         Canada:
-#       %a{href: "#"}<
-#         Chris Beesley
-#       %img{src: "/images/flags/ca.png"}
-#     %li
-#       %b
-#         Italy:
-#       %a{href: "#"}<
-#         Michele Clabassi
-#       %img{src: "/images/flags/it.png"}
-#     %br
-#     More coming soon!
