%p
  The best way to contact us is via our shared email address, 
  %a{href: "mailto:refdevelopmentprogram@gmail.com"}
    refdevelopmentprogram@gmail.com

%p
  You can also contact individual members, such as
  %ul.bullets
    %li
      Lord Commander, 
      %a{href: "#"}
        Sequoia Thomas
    %li
      Deputy Lord Commander,
      %a{href: "#"}
        Chris Beesley
    %li
      Master of Coin,
      %a{href: "#"}
        Justin Bogart
    %li
      Technical Director,
      %a{href: "#"}
        David Brownman

%p
  Additionally, you may want to contact our national liasons, such as
  %ul.bullets
    %li
      %b
        USA:
      %a{href: "#"}
        Dan Hanson
    %li
      %b
        Australia:
      %a{href: "#"}
        Emma Morris
    %li
      %b
        Canada:
      %a{href: "#"}
        Chris Beesley
    %li
      %b
        Italy:
      %a{href: "#"}
        Michele Clabassi
    %br
    More coming soon!
