/1
%p
  %b
    Q:
  %i
    Why the change from the old RDT setup?
  %br
  %b
    A:
  With the separation of the IQA into new national leagues, the RDT would have remained a part of a national body, specifically, the USQ. This would mean that the new leagues would not have access to the collective experience, which the IRDP felt would hinder the continued growth of the sport. For that reason, we believe that it is better for the game, and community as a whole, to work specifically as an independent organization whose sole aim is to better the quality of referees worldwide.
/2
%p
  %b
    Q: 
  %i
    What does this change for me?
  %br
  %b
    A:
  For leagues that contract the IRDP, the changes will be marginal. This site is an example of the changes you can expect: a more streamlined, efficient, and simple approach to delivering information to those who are interested in our services. Anyone that is involved in a league that uses the IRDP and our resources should expect the same services that were present under the IQA RDT.
/3
%p
  %b
    Q:
  %i
    My league hasn’t hired you; can I still become an IRDP certified referee?
  %br
  %b
    A:
  Yes, and you are encouraged to do so. Please note, however, that if your league does not contract us, your certification as an IRDP referee will hold no bearing on the membership requirements for your league. If you want to become a certified IRDP Head Referee, there will be a fee associated with that process.
/4
%p
  %b
    Q:
  %i
    Are you hiring?
  %br
  %b
    A:
  Yes! The IRDP are always looking to hire new members who want to better the quality of officiating. We are currently looking to hire new Referee Development Team members and Referee Training Coordinators in all of our leagues. Below is a description of the two major components of the IRDP:
  %ul.bullets
    %li
      %p
        %b
          Referee Development Team
        This team creates testing and training materials to uphold the standards of each league with which the IRDP has contracted.
    %li
      %p
        %b
          Referee Training Coordinators
        These members have been noted to have a high level of refereeing and offer constructive criticism for other referees. Their focus is to certify and train new referees to become stronger representatives of the IRDP.
  %p
    If you feel like you would be a great fit for any of the positions listed above, send a resume and brief cover letter to us at #{email_link({subject:'Job Application'})} and we'll get back to you as soon as we can.
/5
%p
  %b
    Q:
  %i
    I’m interested in contracting the IRDP for my league; how do I do that?
  %br
  %b
    A:
  Contact us #{email_link({subject: "New IRDP Contract", text: "here!"})} The IRDP offers field tests and will run workshops in your leagues to get you up and running, as well as continue to offer additional support after our initial workshops.
/6
%p
  %b
    Q:
  %i
    How exactly is my head ref fee used?
  %br
  %b
    A:
  Even though a lot of candidates look great on paper, a large part of head reffing is control of the pitch. In order to ensure refs are talented on the field, we cover the cost of transport for our field testers around the world to affirm that only the most talented HR candidates are certified. Additionally, your fee powers our website and online testing resources (classmarker). The IRDP makes no profit and all of your money is used to better your reffing experience.
/7
%p
  %b
    Q:
  %i
    What leagues has the IRDP contracted with?
  %br
  %b
    A:
  As of as of #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'IRDP+Contracts+Updated')}
  the IRDP has contracts with
  %ul.bullets
    %li
      Australia
    %li
      United Kingdom
%p
  Members of these leagues gain access to all IRDP training materials for free!
  


