%p
  %b
    Q:
  %i
    Why the change?
  %br
  %b
    A:
  With the separation of the IQA into new national leagues, the RDT would have remained a part of a national body, specifically, the USQ. This would mean that the new leagues would not have access to the collective experience, which we felt would hinder the continued growth of the sport. For that reason, we believe that it is better for the game, and community as a whole, to work specifically as an independent organization whose sole aim is to better the quality of referees worldwide.
%p
  %b
    Q: 
  %i
    What does this change for me?
  %br
  %b
    A:
  For leagues that contract the IRDP, the changes will be marginal. This site is an example of the changes you can expect: a more streamlined, efficient, and simple approach to delivering information to those who are interested in our services. Anyone that is involved in a league that uses the IRDP and our resources should expect the same services that were present under the RDT.
%p
  %b
    Q:
  %i
    My league hasn’t hired you; can I still become an IRDP certified referee?
  %br
  %b
    A:
  Yes, and we encourage you to do so. Please note, however, that if your league does not contract us, your certification as an IRDP referee will hold no bearing on the membership requirements for your league. If you want to become a certified IRDP Head Referee, you must also pay the $25 associated with the IRDP.
%p
  %b
    Q:
  %i
    Are you hiring?
  %br
  %b
    A:
  Yes! We are always looking to hire new members who want to better the quality of officiating. We are currently looking to hire new Referee Development Team members and Referee Training Coordinators in all of our leagues. If you are interested, this link will take you to a more detailed description of the jobs available and areas that need additional support.
%p
  %b
    Q:
  %i
    I’m interested in contracting the IRDP for my league; how do I do that?
  %br
  %b
    A:
  Contact us. The IRDP offers field tests and will run workshops in your leagues to get you up and running, as well as continue to offer additional support after our initial workshops.
