%p
  %span.ex.hang
    !
  %b
    This is paid content.
  %br
  The funds for the IRDP come exclusively from leagues we conract with and member donations. So, be a doll and give us a $5USD donation in order to gain access to these awesome resources. Read all about why we charge and where your money goes on our
  %a{href: '/pay'}<
    purchase
  page.