%p
  The IRDP is an organization formed for the express purpose of the certification of consistent and competent referees around the world. 

%p
  On this site, you'll find resources to prepare for the referee tests, the tests themselves, the Referee Directory, and any other information relating to refs that you may want or need. 