%p
  The IRDP is an organization formed for the express purpose of the certification of consistent and competent referees around the world. 

%p
  On this site, you'll find resources to prepare for the referee tests, the tests themselves, the Referee Directory, and any other information relating to refs that you may want or need. 

%h2
  Latest Updates
%p
  Our blog posts describing the development of the IRDP will be released soon!
%p
  We have a link to our
  %a{href: "/release"}<
    Press Release
  for your perusal.