%p
  The International Referee Development Program is an organization formed for the express purpose of the certification of consistent and competent referees around the world. 

%p
  On this site, you'll find resources to prepare for the referee tests, the tests themselves, the Referee Directory, and any other information relating to refs that you may want or need. 

%h2
  Latest Updates (as of #{settings.updated_at} 
  %a{href: "http://www.timeanddate.com/worldclock/usa/new-york", target: "_blank"}<
    ET
  )
%p
  Our blog posts describing the development of the IRDP will be released soon!
%p
  Our
  %a{href: "/release"}<
    Press Release
  was made public on May 5th.
%h3
  Upcoming Site Outages
%p
  None planned!