%p
  The International Referee Development Program is an organization formed for the express purpose of the certification of consistent and competent referees around the world. 

%p
  On this site, you'll find resources to prepare for the referee tests, the tests themselves, the Referee Directory, and any other information relating to refs that you may want or need. 
%p
  Whenever you see a time, click
  %a{href: "#"}<
    UTC
  to see that time in your local time zone.

%h2
  Latest Updates (as of #{settings.updated_at.strftime(settings.time_string)} 
  #{local_time(settings.updated_at,'Refdevelopment.com+Updated')}
  )
%p
  Our
  %a{href: "/release"}<
    Press Release
  was made public on May 5th.
%h3
  Upcoming Releases and Events
.form_box.big
  .table-background
    %table
      %tr
        %td
          %i.fa.fa-check
        %td
          3rd July, 2014
        %td
          Release of the IRDP Confidence Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          5th July, 2014
        %td
          Release of the IRDP Communication Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          7th July, 2014
        %td
          Release of the IRDP Professionalism Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          9th July, 2014
        %td
          Release of the IRDP Consistency Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          11th July, 2014
        %td
          Release of the IRDP Health and Well-Being Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          16th July, 2014
        %td
          Release of the IRDP Referee Match Responsibilities Guide
      %tr
        %td
          %i.fa.fa-check
        %td
          18th July, 2014
        %td
          All tests updated for USQ Rulebook 8
      %tr
        %td
          %i.fa.fa-check
        %td
          21st July, 2014
        %td
          Beta Release of French Website (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          August, 2014
        %td
          Beta Release of Italian Website (but not tests)!
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          August, 2014
        %td
          Release of the Referee Training Coordinator training materials
      %tr
        %td
          %i.fa.fa-clock-o
        %td
          September, 2014
        %td
          Assistant and Snitch Referee Rating goes live
%h3
  Upcoming Site Outages
%p
  There will be an outage later this week to migrate testing onto rulebook 8.1. More info to come. 
  