%p
  Check out our 
  %a{href: "/release"}<
    Press Release
  for more info on the formation of the IRDP

%p
  We've got a
  %a{href: "https://www.twitter.com/refdevelopment", target: "_blank"}<
    Twitter
  where we post important annoucements. It's an easy way to stay in touch!

%p
  Check out our
  %a{href: "https://www.facebook.com/IQARDT", target: "_blank"}<
    Facebook
  page for interesting ref content and some good discussion.