%p
  We are currently partnered with the following leagues. You can complete certification through our system and you will fufill your membership requirement if your team is part of that league. 

%ul.bullets
  %li
    UK
  %li
    Australia
  %li
    Italy

%p
  We do NOT partner with the following leagues. If you belong to a team in one of the following leagues you may still certify with us (in order to improve your craft), but that certification will NOT affect your teams membership status.

%ul.bullets
  %li
    USQ
  %li
    Other People

%p
  If your league isn't on this list and you think they should be, head over to our
  %a{href: "/contact"}<
    contact
  page and email the liason for that part of the world.

%p
  Last updated  May 7th, 2014.