%link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles.css'}
%script{src: "http://code.jquery.com/jquery-1.10.2.min.js", type:"text/javascript"}

.error

  -# %p.right#fr
  -#   %a{href:"#"}<
  -#     FR
  %p.right#en
    %a{href:"#"}<
      EN
  
  %h2#title
  %p#p1
  %p#p2
  %p#p3

:javascript
  $('#en').click(function(){
    $('#title').text("REFEREE DEVELOPMENT TEAM ANNOUNCES FORMATION OF INDEPENDENT REFEREEING ORGANIZATION");
    $('#p1').text("Salt Lake City, UT – May 5, 2014 – The Referee Development Team (“RDT”), a division of the International Quidditch Association (“IQA”), announced that it will become an independent international refereeing body, called the International Referee Development Program (“IRDP”). The structural change will coincide with the formation of the United States Quidditch Association (“USQ”), which is scheduled for July 1, 2014.");
    $('#p2').text("Due to the rapid expansion of the sport, a global refereeing body is essential to foster the improvement gameplay in developing nations.  The formation of an independent, global organization will allow the IRDP to focus on the training, certification, and development of quidditch officiating on a global level. The IRDP will continue to work with the USQ, and looks to grow its relationships with the United Kingdom, France, Canada, Australia, and Italy.");
    $('#p3').text("The newly formed IRDP will consist of all of the members of the RDT. The seasoned 12-member team, led by Manager Sequoia Thomas and Assistant Manager Chris Beesley, is located around the globe, with members in the U.S., Canada, Italy, and Australia. In addition, the team has announced that Andrew Canto, who served as RDT member from 2011-2013, will be rejoining the team to assist in its global initiative. The team will continue to provide referees with testing and training materials, and has the infrastructure necessary to efficiently service referees on a global scale.");
  });

  $('#fr').click(function(){
    $('#title').text("Title in French");
    $('#p1').text("haw1");
    $('#p2').text("haw2");
    $('#p3').text("haw3");
  });

  $('#en').click();

  // You're reading the source? Go you! If you're excited about reffing and want to work on a sweet Ruby/Sinatra/Haml project, let David Brownman know. 

  // If you're not that committed but still want to see the source, it'll be released once the site goes live. 
