- if paid?
  %p
    It looks like you've already paid for your IRDP membership! 
  %p
    If you're looking to buy a HR test, head over to the 
    %a{href: "/testing/head"}<
      HR test page
    instead and complete your purchase there. 
- else
  .paypal
    #{display(:access,false)}

  %p
    Thank you for thinking about financially supporting the IRDP! Now that we're our own organization, we've got bills to pay and as of now, our only support comes from you, our lovely paid members. 
    %u<
      NOTE
    Sometimes paypal doesn't register your purchase fast enough, so you may need to sign out and back in for your payment to register. We'll get this fixed soon!
    %br
    %br
    %u<
      NOTE
    if you belong to an Australian team, DO NOT BUY this. As an affiliated league's team, you get free access. See administrators for registration codes.

  %p
    %strong
      What is my money used for? Will it be spent on patches or id cards I don't want?
    %br
    Good question! We have a few upkeep costs that drain the majority of our financial resources. 
  %ul.bullets
    %li
      %p
        The biggest cost is classmarker, the wonderful site that supports our online written testing. Because we're using their premium features to integrate with our databases, we use a 
        %a{href: 'http://d.pr/i/t9Pb', target: '_blank'}<
          paid 
        plan. Furthermore, we pay per test taken, so at minimum, every certified Head Referee consumes 3 tests (ideally). That adds up quickly.
    %li
      %p
        Travel for field tests. Some referees look great on paper but don't have the chops once they're out on the field. In order to maintain the highest quality reffing standards, we make sure every Head Referee candidate is vetted by one of our highly qualified RDT or RTC members. This sends them all over the world, which gets expensive quickly.
    %li
      %p
        Other electronic resources. In order to provide the best possible online experience, we've got the latest web technologies powering an awesome stack. We decided not to sacrifice quality in any way (we know how frustrating that can be!), so we pay a bit for our tech (this is our smallest monthly expense).

  %p
    We also want to stress that every IRDP employee is a volunteer and none of us are compensated for our time. We do what we do because we love quidditch and believe the system we are building will produce the best referees possible. 

  %p
    So, help us help you. Skip that latte tomorrow and be part of something awesome. 
  %p
    Be part of the 
    %b
      IRDP.

  .paypal
    #{display(:access,false)}