%p
  Here you can provide feedback for any referee that has been IRDP certified at any level. Please keep reviews as specific and calm as possible. While all reviews are taken seriously, it is important to remember that the IRDP has to garner quantitative and qualitative data from the information provided. Angry and/or emotional reviews tend to make correcting issues more difficult.

%p
  %span{style: "color: red;"}
    * Required

.form_box
  %form{name: "review", action: "review", method: "post", onsubmit: "return validate();", id: "rater"}
    %label{for: "name"}
      Your Name
      %span{style: "color: red;"}
        *

    %input{type: "text", name: "name", placeholder:"first and last"}

    %label{for: "email"}
      Your Email
      %span{style: "color: red;"}
        *
    %input{type: "email", name: "email", placeholder:"name@example.com"}

    %label{for: "captain"}
      I am my team's captain
    %input{type: "checkbox", name: "captain", id: "captain", form: "rater"}

    %label{for: "region"}
      Referees's Region
      %span{style: "color: red;"}
        *
    %select{name: "region", id: "region"}

    %label{for: "referee"}
      Referees's Name
    %select{name: "referee", id: "referee"}

    %label{for: "date"}
      Date of Game
    %input{type: "text", name: "date", placeholder: "MM/DD/YY"}

    %label{for: "team"}
      Your Team's Name
    %input{type: "text", name: "team"}

    %label{for: "opponent"}
      Opponent Team's Name
    %input{type: "text", name: "opponent"}

    %label{for: "rating"}
      How did the referee do?
      %span{style: "color: red;"}
        *
    %select{name: "rating", id: "rating"}
      %option{value: ""}

      %option{value: "excellent"}
        Excellent!
      %option{value: "good"}
        Good
      %option{value: "average"}
        Average
      %option{value: "poor"}
        Poor

    %label{for: "comments", style: "font-size: 14px;"}
      Have any specific comments about the referee? Especially pretaining to positioning, professionalism, confidence, consistency, and communication.
    %textarea{form: "rater", cols: 37, rows: 9, name: "comments"}

    %input.button{type: "submit", value: "Submit Review"}


:javascript
  var region_keys = #{@region_keys};

  var refs = #{@refs};

  $("#region").append(generateBlank());
  for (var i = 0; i < region_keys.length; i++) {
    var el = document.createElement("option");
    el.textContent = region_keys[i];
    el.value = region_keys[i];
    $("#region").append(el);
  };

  // fills the dropdown with refs from that region
  $("#region").change(function(){
    $("#referee").empty();
    $("#referee").append(generateBlank());
    $("#referee").append("<option value=\"Sb33WyBziN\">Unnamed Ref</option>")
    for (var i = 0; i < refs[$("#region").val()].length; i++) {
      var el = document.createElement("option");
      el.textContent = refs[$("#region").val()][i][1];
      el.value = refs[$("#region").val()][i][0];
      $("#referee").append(el);
    };
  });

  function generateBlank(){
    var el = document.createElement("option");
    el.textContent = "";
    el.value = "";
    return el;
  };

  function validate() {
    // NEED TO ADD ALL FUTURE FORM ENTRIES TO THIS
    var f = $("form")[0];
    var filled = true;

    var n = f["name"].value;
    var e = f["email"].value;
    var r = f["region"].value;
    var ra = f["rating"].value;

    var fields = [n, e, r, ra];

    fields.forEach(function(field){
      if (field == null || field == "") {
        filled = false;
      }
    });

    // checking forms are full, passwords match, and checkbox is checked

    if (!filled) {
      $(".issue").text("Required field is missing");
      return false;
    }

    else {
      return true;
    }    

  }

