%p
  - if @good
    Hey, take the 
    -# %a{href: "http://www.classmarker.com/online-test/start/?quiz=afd51c7d951f264b&cm_return_test_type=ass&cm_user_id=#{session[:user]['objectId']}"}<
    -#   Assistant
    %a{href: "http://www.classmarker.com/online-test/start/?quiz=xnj533d065451038&cm_return_test_type=ass&cm_user_id=#{session[:user]['objectId']}"}<
      sample
    test!
  - else
    Looks like it hasn't been long enough since your last try! 
    %br
    %br
    Give it another go at #{@try_unlocked.strftime("%b %e,%l:%M %p")}.