%h2
  The Testing Process
%p
  In order to become an IRDP certified Head Referee, a candidate must pass both the Assistant Referee and Snitch Referee tests before taking the Head Referee test.
%p
  If the candidate fails any test, there is a mandatory one-week waiting period before that test may be attempted again.
%p
  The 
  %strong
    Assistant 
  Referee and 
  %strong
    Snitch 
  Referee tests are taken independent of each other, and have no pre-requisites. Therefore, it is not necessary for a Snitch Referee to be an Assistant Referee as well, or vice versa. These tests are free for members belonging to a contracted league. For non-contract members, there is a $5USD training/membership fee. Each non-HR test can be taken 6 times per person.
%p
  The 
  %strong
    Head 
  Referee test costs $21AUD/$20USD (or the rough equivalent in your local currency), and allows that candidate to take the written Head Referee test 4 times. 
%p
  If the candidate fails any test more than the allotted attempts, they may not attempt to certify at that position again for the remainder of that season.
%p
  For more information on where your money goes, check out our
  %a{href: "/pay"}<
    payment
  page. 
%p
  Current tests are based off IQA Rulebook 7 and are intended primarily for the AQA 2014 season. USQ Rulebook 8 testing will be released two weeks after the release of Rulebook 8.
  

%h2
  Training Materials

%h3
  Overview
%p
  The IRDP's main goal is to certify as many elite refs as possible. To this end, we've produced a suite of resources that applicants should be comfortable with before attempting any written test.
%p
  All interested IRDP referee candidates are encouraged to study the current version of the rules that are out for their league.
%ul.bullets
  -# %li
    -# %a{href: "https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fa%2Finternationalquidditch.org%2Fdocument%2Fd%2F1UDbK4w9UswZcnAUZQJRaK--EwzA6GA64qO7PXv1V0rg%2Fedit", target: "_blank"}<
      -# This
    -# is a copy of the Referee Training Packet.
  %li
    %a{href: "http://www.usquidditch.org/files/USQ_Rulebook_8.pdf", target: "_blank"}
      Here
    is a PDF of USQ's rulebook v8 (PDF). This is used in all official USQ matches beginning 1 July, 2014
  %li
    %a{href: "http://iqaquidditch.com/files/IQA_Rulebook_7_web.pdf", target: "_blank"}<
      Here
    is a PDF of the IQA's rulebook v7 (PDF). This is currently only used for the remainder of the Australian season (calendar year 2014).
  %li
    %a{href: "http://iqaquidditch.com/about/rules/rulebook-faq/", target: "_blank"}<
      Here
    is a collection of corner cases and clarifications related to rules.

%h3
  Scorekeepers and Goal Referees
%p
  Often the foundation on which a referee squad is either built or broken, goal refs and scorekeepers are key to a well officiated game. IRDP has written goal referee and scorekeeper guides for distribution so you can make sure everyone at your tournament is in top form.
%ul.bullets
  %li
    %a{href: "/files/IRDPScorekeeperGuide.pdf", target: "_blank"}<
      Scorekeeper Guide
  %li
    %a{href: "/files/IRDPGoalRefereeGuide.pdf", target: "_blank"}<
      Goal Referee Guide
%p
  The IRDP is happy to provide refresher quizzes for scorekeepers and goal refs. These quizzes are aimed at people who have little to no experience with either position and will make sure that everyone on your referee squad or volunteer crew is up to speed on the rules. Note that these quizzes offer no formal certification and are provided for convenience only.

%p
  Feel free to post these quizzes to your event pages or wherever else you'd like!
%ul.bullets
  %li
    %a{href: 'http://www.classmarker.com/online-test/start/?quiz=93j53abaa3d0488d', target: '_blank'}<
      Scorekeeper Quiz
  %li
    %a{href: 'http://www.classmarker.com/online-test/start/?quiz=kv953ababfe78423', target: '_blank'}<
      Goal Referee Quiz

%h3
  Five Pillar Guides
%p
  As the IRDP has framed itself around the five pillars of the field test, we want to share with you how to best exemplify the traits of a great referee using these pillars. The following are guides created to train referees to reach their greatest potential in each area.
- if paid?
  %p
    %span.fa-stack
      %i.fa.fa-circle.fa-stack-2x.go
      %i.fa.fa-exclamation-triangle.fa-stack-1x.warning
    These files are for paying members only, so we would really appreciate you not spreading them around. Thanks!
  %ul.bullets
    %li
      -# %a{href: "https://docs.google.com/feeds/download/documents/export/Export?id=1vBA8wiA_BfsEnasHLf5PRUZTtVDJD8MmuNprCzyZ3YY&exportFormat=pdf", target: '_blank'}<
      %a{href: "/files/IRDPRefereePositioningGuide.pdf", target: '_blank'}<
        Positioning Guide
    %li
      %a{href: "https://docs.google.com/feeds/download/documents/export/Export?id=1XWmROvS--BAnck4L7YI9w4reKtxKTMleyfddktfmMCk&exportFormat=pdf", target: '_blank'}<
        Confidence Guide
    %li
      %a{href: "https://docs.google.com/feeds/download/documents/export/Export?id=1jAUAZVh4oy3Dr3ZdtVwajAFKBHzXMZAQE41dUHpYo8s&exportFormat=pdf", target: '_blank'}<
        Communication Guide
    %li
      -# %a{href: "", target: '_blank'}<
      Professionalism Guide - Coming soon!
    %li
      -# %a{href: "", target: '_blank'}<
      Consistency Guide - Coming soon!
- else
  %ul.bullets
    %li
      -# %a{href: "https://docs.google.com/feeds/download/documents/export/Export?id=1vBA8wiA_BfsEnasHLf5PRUZTtVDJD8MmuNprCzyZ3YY&exportFormat=pdf", target: '_blank'}<
      %a{href: "/files/IRDPRefereePositioningGuide.pdf", target: '_blank'}<
        Positioning Guide
  #{display(:help,false)}

%h3
  On the Field
%p
  We've got the rubric we use to evaluate Head Referee candidates during their field test, along with a Match Responsibilities Guide.

-if paid?
  %ul.bullets
    %li
      %a{href: '/files/IRDPFieldTestRubric.pdf', target: '_blank'}<
        Field Test Rubric
    %li
      Match Responsibilities - Coming soon!
- else
  #{display(:help_small,false)}

