%h2
  The Testing Process
%p
  In order to become an IRDP certified Head Referee, candidates must pass both the Assistant Referee and Snitch Referee tests before taking the Head Referee test.
%p
  If the candidate fails any test, there is a mandatory one-week waiting period before that test may be attempted again.
%p
  Snitch Referees and Assistant Referees are independent tests, and have no pre-requisites. Therefore, it is not necessary for a Snitch Referee to be an Assistant Referee as well, or vice versa.
%p
  The Assistant Referee and Snitch Referee tests are free, and can be taken 6 times per person. The Head Referee test costs $25, and allows that candidate to take the written Head Referee test 4 times. For more information on where your money goes, check out our
  %a{href: "/faq"}<
    FAQ
  page.
  -# Head Referee Payments can be sent to 
  -# %a{href: "mailto:refdevelopmentprogram@gmail.com"}
    -# refdevelopmentprogram@gmail.com
  -# via PayPal. 
  If the candidate fails any test more than the allotted attempts, they may not attempt to certify at that position again for the remainder of that season.

%h2
  Testing Materials
%p
  All interested IRDP referee candidates are encouraged to study the current version of the rules that are out for their league.
  %a{href: "http://www.google.com/url?q=http%3A%2F%2Fiqaquidditch.com%2Ffiles%2FIQA_Rulebook_7_web.pdf&sa=D&sntz=1&usg=AFQjCNE6I2c3aCWE4xId3CgfNU9lIj8LQA", target: "_blank"}<
    Here
  is a PDF of the IQA's rulebook v7.
%p
  The IRDP also provides additional training materials, included below.
%ul.bullets
  %li
    %a{href: "https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fa%2Finternationalquidditch.org%2Fdocument%2Fd%2F1UDbK4w9UswZcnAUZQJRaK--EwzA6GA64qO7PXv1V0rg%2Fedit", target: "_blank"}<
      This
    is a copy of the Referee Training Packet.
  %li
    %a{href: "https://www.google.com/url?q=https%3A%2F%2Fdocs.google.com%2Fa%2Finternationalquidditch.org%2Fviewer%3Furl%3Dhttps%253A%252F%252Ftrello-attachments.s3.amazonaws.com%252F51fe79e99c6157565b000ee3%252F520030c8627d0e250a001524%252F891189fb5d06cca1282e7358f6aaa00a%252FRDP-Field_Test_and_Rubric.docx%26docid%3Db0d9c60105e57f2dc24dccff6d82515f%26a%3Dbi%26pagenumber%3D1%26w%3D1244", target: "_blank"}<
      This
    is a copy of the Field Test Rubric that you will be graded with.

%h2
  Future Projects
%p
  In the near future, the IRDP will also be adding video training for some of the more complex rules and interpretations in quidditch such as advantage and third bludger guarding.

%h2
  Testing Links

%p
  Before taking any test, you need to create an account, during which you will agree to and be bound by the
  %a{href: "https://docs.google.com/document/d/1ybhTrPbk_H4QqekrrWHgiDBRIlqzLlx2P5Ir43Nt774", target: "_blank"}<
    Ref's Code
  and all articles therein. Use the materials and tips provided on this page to prepare to take the tests. Your eligibility for each test will be determinied on that test's page. It's also
  %span{style: "color: red; font-weight: bold;"}
    incredibly important
  that you click the orange
  %span{style: "text-decoration: underline;"}<
    "return to refdevelopment.com"
  at the end of the test or else your results will not be recorded in our system. You should get a confirmation email from us when we have your results. Contact us at 
  #{email_link}
  if you think you should be eligible for a test and aren't. Good luck!

%ul.bullets
  %li
    The 
    %a{href: "/test_links/ass"}<
      Assitant Referee
    test
  %li
    The 
    %a{href: "/test_links/snitch"}<
      Snitch Referee
    test
  %li
    The 
    %a{href: "/test_links/head"}<
      Head Referee
    test



